<html>
  <head>
      <title>Ally's First Blog</title>
  <head>
  <body>
    <div>
      <h1><a href="">Django Girls Blog</a></h1>
    </div>
    <div>
      <p>Published 2nd July 2016, 16:22</p>
      <h2><a href="">My first post</a></h2>
      <p>Thank goodness I finally got to this point!</p>
      <p>I thought I would never code today!!!</p>
    </div>

    <div>
      <p>Published 2nd July 2016, 16:26</p>
      <h3><a href="">My first post</a></h3>
      <p> Ready to go home. I am tired! </p>
    </div>
  <body>
</html>
